body{
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: burlywood ;
}

.container{
    text-align: center;
    border: 2px solid orange;
    padding: 40px;
    border-radius: 40px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.container span{
    font-size: larger;
    text-transform: uppercase;
    color: black;
}
#clock{
    width: 150px;
    height: 50px;
    background-color: rgb(255, 136, 0);
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: larger;
}